/*
	Color palette:
	red: #C25544;
	light red: #DFA89F;
	pastel yellow: #FCE7BF;
*/
body{
	color: white !important;
	background-color: #C25544;
}

h1,h2,h3,h4,h5{
	color: white !important;
}

label{
	color: white !important;
}

.button{
	background-color: #DFA89F !important;
	border: 1px solid white !important;
}

.button:hover{
	background-color: #D27D72 !important;
}

.margin-top{
	margin-top: 30px;
}