/*
	Color palette:
	red: #C25544;
	light red: #DFA89F;
	pastel yellow: #FCE7BF;
*/

body{
	background-color: #C25544;
}

h1,h2,h3,h4,h5{

}

small{
	color: #DFA89F !important;
}
.dashboard-container{
	color: black !important;
	margin-top: 20px;
}

.dashboard-container h1, h2 {
	color: #C25544;
}

.dashboard-container h3, h4, h5 {
	color: #DFA89F;
	width: 100% !important;
}
.product-details-container, .product-overview-container{
	margin: 10px;
	padding: 20px;
	margin-bottom: 20px;
}

.product-overview-container{
	margin-left: -20px !important;
}

#product-overview-container{
	min-height: 550px;
	background-color: white;
}

.bg-white{
	background-color: white;
}
.product-single{
	margin-bottom: 10px !important;
	cursor: pointer;
	padding: 10px 10px 0px 10px; 
	border-left: 1px solid #DFA89F;
}

.product-single:hover{
	opacity: 0.6;
	border-left: 4px solid #C25544;
}

.opacity-low{
	opacity: 0.5;
}

.header{
	margin-top: 10px;
	color: white;
	border-bottom: solid 1px #ddd;
}

a, a:active, a:visited{
	color: white;
}

.selected{
	background-color: #FCE7BF !important;
}

label{
	font-weight: bold;
}

.row{
	
}

ul {
	list-style: none;
}

.button{
	background-color: #DFA89F !important;
	border: 1px solid white !important;
}

.button:hover{
	background-color: #D27D72 !important;
}

.margin-top{
	margin-top: 30px;
}