.row
    .twelve.columns(style="height: 20px")
        hr
        p(style="color:white; text-align: center; padding: 10px") Crafted in London. No sleep.
// Add javascripts here!
script(src="/js/vendor/jquery.js")
script(src="/js/vendor/foundation.min.js")
script(src="/js/vendor/jquery.foundation.reveal.js")
script(src="/js/vendor/app-foundation.js")

