// Add javascripts here!
script(src="/js/vendor/jquery.js")
script(src="/js/vendor/foundation.min.js")
script(src="/js/vendor/jquery.foundation.reveal.js")
script(src="/js/vendor/app-foundation.js")

