.row
    .twelve.columns(style="height: 20px")
        hr
        p(style="color:white; text-align: center; padding: 10px") Crafted in London. Caffeinated.
// Add javascripts here!
script(src="/js/vendor/foundation.min.js")
script(src="/js/vendor/app-foundation.js")
script(src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js")
script(src="/js/tmpl/customers/customers.js")

