extends ../../layouts/base

block content
   link(rel="stylesheet", href="/css/suppliers/dashboard.css")
   
   include header
   - if (typeof userFirst !== 'undefined' && userFirst)
        include intro
   - else if (typeof store !== 'undefined' && !userFirst)
        - if (typeof products !== 'undefined')
            include store-details
            include product-tmpl
        - else 
            .row.dashboard-container
              .twelve.columns
                include product-first
   //      - if (typeof products !== 'undefined')
   //          include store-details
   //      - else 
   //          include product-first
   // - else 
   //      include error



   //   