extends ../layouts/base-customer

block content
    link(rel="stylesheet", href="/css/customers/main.css")

    - if (typeof error !== 'undefined')
        include header 
        p=error

    - else if (typeof products !== 'undefined')
        include map

    - else 
        h1 Kati epien polla x

