.twelve.columns.product-container
  .row(style="margin: 20px 0px; text-align: center")
    .twelve.columns
        a(href="/") 
            img(src="/img/brand/logo-test.png")
  .row
    .four.columns.offset-by-one.bg-trans.product-scroll
        .row
            .four.columns
                h5 Products
            .four.columns.offset-by-four(style="margin-top: 10px")
                button.button(id="scrollUp") < 
                button.button(id="scrollDown") >
        hr
        #product-list    

        