extends ../layouts/base

block main

block content
  
  link(rel="stylesheet", href="/css/suppliers/auth.css")
  
  .row(style="")
    .four.columns.offset-by-four
     if (typeof msg !== 'undefined' && msg != '')
            .alert-box.alert= msg
              a(href="", class="close") &times;
      block auth
