body{
    padding: 0px !important;
    margin: 0px !important;
}

html, body, #map{
    height: 100% !important;
}

.map-container{
    width: 100% !important;
}

.product-container{
    position: absolute;
    z-index: 100000;
}

.product-scroll{
    overflow: hidden;
    height: 400px !important;
}

.bg-trans{
    background-color: white;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    progid:DXImageTransform.Microsoft.gradient(startColorstr=#9A33AAEE,endColorstr=#9A33AAEE); 
    
    -webkit-box-shadow: inset 0px 0px 4px 0px #ffffff;
    box-shadow: inset 0px 0px 4px 0px #ffffff;
}

.small-map{
    width: 300px !important;
    float: left;
}

.xtra-small-map{
    width: 200px !important;
    float: left;
}

.rightbar{
    height: 100%; 
    float: left; 
    width: 300px; 
    display: none; 
    padding: 10px;
}

.small-rightbar{
    width: 150px !important;
}

.final-rightbar{
    width: 200px !important;
    padding: 10px;
    float:left;
    display: none;
    height: 100%;
}

h4,h5{
    color:#C6533B;
}

.product-single:hover{
    cursor: pointer;
    border-left: 2px solid #C6533B;
}